<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= game.gameName %></h1>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous">
</script>

<!-- workaround to pass server side EJS variable to client side JS variable -->
<script>
  var clientSocketURL = '<%- socketURL %>'; // test is now a valid js object
  console.log(clientSocketURL)
</script>
<!-- end workaround -->

<script>
  const socket = io(`${clientSocketURL}`);
  console.log(socket)

  socket.on("connect", () => {
  console.log(`Client ${socket.id} connected to the WebSocket`) // id randomly assigned to client

  socket.on("disconnect", () => {
  console.log(socket.id); // undefined
  });
});
</script>
</body>
</html>