<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div id="player-list">

  </div>
  <div class="jumbotron">
    <h1><%= game.gameName %></h1>
  </div>
  <div>
    <div id="chat-log" tabindex="0" style="border: 1px solid; overflow-y: auto; max-height: 50vh;"></div>
    <label for="message-input">Message</label>
    <input type="text" id="message-input">
    <button id="send-button">Send</button>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<!-- socket io library for websocket connection to server back end -->
<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous">
</script>

<!-- workaround to pass server side EJS variable to client side JS variable -->
<script>
  var clientSocketURL = '<%- socketURL %>' // test is now a valid js object
  var clientGameID = '<%- game._id %>'
  //console.log(clientSocketURL)

  const socket = io(`${clientSocketURL}`,
    {transports: ['websocket', 'polling'],
    auth: {
      token: "this is a token"
    }}
  );
  // trasports options must be specified for mobile browser client, see:
  // https://stackoverflow.com/questions/23946683/socket-io-bad-request-with-response-code0-messagetransport-unknown
  //console.log(socket)

  socket.on("connect", () => {
    // console.log(`Client ${socket.id} connected to the WebSocket`) // id randomly assigned to client
    
    socket.emit('join-game', room = clientGameID, gameState => {
      gameState.forEach( message => {
        addMessageToChatLog(message)
      })
    })
  })

  socket.on('connect_error', error => {
    addErrortoChatLog(error)
    console.log(error)
  })

  socket.on('receive-message', message => {
    console.log(`received messaged from server: ${message}`)
    addMessageToChatLog(message)
  })

  //socket.on("disconnect", () => {})

  const sendButton = document.getElementById("send-button")
  const messageInput = document.getElementById('message-input')
  const chatLog = document.getElementById('chat-log')

  sendButton.addEventListener('click', () => {
    const message = messageInput.value
    socket.emit('send-message', message, room = clientGameID)
    messageInput.value = ""
  })

  messageInput.addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
      const message = messageInput.value
      socket.emit('send-message', message, room = clientGameID)
      messageInput.value = ""
    }
  });

  function addMessageToChatLog(message) {
    let div = document.createElement("div")
    div.innerHTML = `<b>${message.author}:</b>  ${message.text}`
    document.getElementById('chat-log').append(div)
  }

  function addErrortoChatLog(errorMessage) {
    let div = document.createElement("div")
    div.innerHTML = errorMessage
    document.getElementById('chat-log').append(div)
  }

</script>

</body>

</html>