<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= game.gameName %></h1>
  </div>
  <div>
    <div id="chat-log" style="border: 1px solid"></div>
    <label for="message-input">Message</label>
    <input type="text" id="message-input">
    <button id="send-button">Send</button>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<!-- socket io library for websocket connection to server back end -->
<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous">
</script>

<!-- workaround to pass server side EJS variable to client side JS variable -->
<script>
  var clientSocketURL = '<%- socketURL %>'; // test is now a valid js object
  console.log(clientSocketURL)
</script>
<!-- end workaround -->

<script>
  const socket = io(`${clientSocketURL}`); // estavlish websocket connection
  //console.log(socket)

  socket.on("connect", () => {
  console.log(`Client ${socket.id} connected to the WebSocket`) // id randomly assigned to client

  socket.on("disconnect", () => {
  console.log(socket.id); // undefined
  });

  socket.on('receive-message', (message, author) => {
    console.log(`received messaged from server: ${message}`)
    updateChatLog(message, author)
  })
});
</script>
<script>
  const sendButton = document.getElementById("send-button")
  const messageInput = document.getElementById('message-input')
  const chatLog = document.getElementById('chat-log')
  sendButton.addEventListener('click', () => {
    const message = messageInput.value
    socket.emit('send-message', message)
    messageInput.value = ""
  })
</script>
<script>
  function updateChatLog(message, author) {
    let div = document.createElement("div")
    div.textContent = `${author}:  ${message}`
    document.getElementById('chat-log').append(div)
  }
</script>
</body>
</html>